:root {
  --black: #000000;
  --secondary: #1c1c1e;
  --system-gray: #3a3a3c;
  --seperator: #545458;
  --fill: #767680;
  --text: #ffffff;
  --secondary-text: #ebebf5;
  --blue-tint: #64d2ff;
  --nav-bg: #1d1d1d;
}

.container-fluid {
  background-color: var(--black);
  color: var(--text);
  height: 100%;
  padding-bottom: 20px;
}

.section-two {
  background-color: var(--secondary) !important;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.section-two-color {
  background-color: var(--secondary) !important;
}

.img-color {
  background-color: var(--secondary);
}

.section-three {
  background-color: var(--secondary) !important;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.section-four {
  background-color: var(--secondary) !important;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.form-control {
  outline: none;
  border: none;
  background-color: var(--seperator);
  color: var(--text);
}

.form-control:focus,
.form-control:active {
  outline: none;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: var(--seperator);
  color: var(--text);
}

@media only screen and (max-width: 575.98px) {
  .section-one {
    max-width: 100%;
    padding-left: 10px;
  }
  .section-one h2 {
    font-size: 16px;
  }

  .section-two {
    padding: 10px;
    margin-bottom: 20px;
  }

  .section-two > .row {
    margin: 10px;
  }

  .section-two > .row > .col {
    padding: 20px;
  }

  .section-three {
    padding: 10px;
  }

  .section-three > .row {
    margin: 10px;
  }

  .section-three > .row > .col {
    padding: 20px;
  }

  .section-four {
    padding: 10px;
    margin-top: 20px;
  }

  .section-four > .row {
    margin: 10px;
  }

  .section-four > .row > .col {
    padding: 20px;
  }
}
